.container-register-banner {
  width: 50vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 20vh;
  padding-bottom: 40vh;
  background-color: #3AB19B;
}

.title {
  font-size: 40px;
  color: #FFFFFF;
}

.subtitle {
  font-size: 18px;
  color: #FFFFFF;
  text-align: center;
}